<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @usuario.identificacion %>
</p>

<p>
  <strong>Tipo identificacione:</strong>
  <%= @usuario.tipo_identificacione.descripcion %>
</p>

<h3>Logs</h3>
<hr/>

<% @usuario.logs.each do |log| %>
   <i><%=log.accion%>: fecha <%=log.fecha%></i>
   <br/>
<% end %>

<br/>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
